<a href="https://colab.research.google.com/github/juliotorres82/edd_1310_2021/blob/master/1Octrubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinámico

escuela = "FES Aragon"

In [6]:
escuela = "FES Aragon"
print(escuela)
print("-------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una 
frase
de multiples líneas
y también es
un tipo de dato
"""
print(frase)
nombre = "Jose"
nombre_completo = "Jose Sosa Cardenas"

print

FES Aragon
-------

Esta es
una
frase
de multiples líneas
y también es
un tipo de dato

# Print
con comas, 
con signo mas + 
con format() 
con el operador f""

In [7]:
#, da un espacio
print(nombre, edad)

Jose 13

In [10]:
# + concatena
print (nombre + str(edad))
print (nombre+nombre_completo)

Jose13
JoseJose Sosa Cardenas

In [13]:
# con formato -> Nombre es Jose y su edad es de 13 años.
print("Su nombre es", nombre, "y su edad es", edad, "años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad) )
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )

Su nombre es Jose y su edad es 13 años.
Su nombre es Jose y su edad es de 13 años.
Su nombre es 13 y su edad es de Jose años.

In [15]:
# con el formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Jose y su edad es de 13 años.

# Caracter de escape
\n salto de linea

\t tabulador

\a beep

\\"

\´

In [16]:
"""
Esto es 
un comentario
de multiple
linea
tan tan
"""
print (f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 Jose

# Ayuda de tipos de dato en python
dir()

help()

In [ ]:
# str, int, float, bool ... list, dict, set
# help sirve para saber para que funciona cada tipo de dato
help(str)

In [22]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="-----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [ ]:
help(print)

# clase String
Es manejada como un arreglo (c o en Java) o lista (python)
telefono = "Huawei mate 30 pro"

print(telefono)

In [23]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

#Slicing (rebanado)
[ini:stop:incremento]
#Selecciona una parte de la variable
nota: el stop no se incluye, termina en el anterior al stop

In [27]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales
print (telefono[:11:])
#el valor por defecto de stop es len(str)
print(telefono[::])
# incremento negativo
print (telefono[::-1])
# slacing negativo
ini = -3
inc = 1
print (telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# metodos de string (str)
Existen metodos muy utiles en esta clase

In [42]:
facultad = "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("u")) 
#count cuenta numero de elementos de una cadena (espacios, numeros, letras)
print(facultad.find("s"))
#find te dice en que numero esta la letra colocada
print( facultad.index("s") )
#index indice de concidencia
print( facultad.strip() )
#strip quita espacios
print(len(facultad))
#len numero de caracteres en total
tamaño = len(facultad)
print(f"tamaño de la cadena es {tamaño} caracteres ")
print(facultad)
print(facultad.strip().split(" "))

print("-----------------------")
#copiar cadenas 
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragón"
print(facultad)
print(otra_cadena)

#copiar lista
colores = ["rojo", "verde"]
otra = colores
print (colores)
print (otra)
otra.append("rosa")
print (colores)
print (otra)

    facultad de estudios superiores aragon

3
17
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----------------------
    facultad de estudios superiores aragon

FES Aragón
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']