<a href="https://colab.research.google.com/github/juliotorres82/edd_1310_2021/blob/master/6octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# String continuacion

numeros_txt = "       1, 2, 3, 4  , 5  , 35 , 15 , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(",") 
print(numeros_txt)
for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())


print(numeros_txt)

#Funcion range()

# range(inicio, stop, incremento )
  print(range(1,10,3))
  rango = range(1,10,2)

  for x in rango:
    print(x)
    rango = range(10)
    for x in rango: 
      print(x)

IndentationError: ignored

#Listas
- mutables
- declaran con []
- selector [ int ]
- pueden 

#tuplas
- NO mutables
- declaran con ( )
- selectos [ int ]
# diccionarios
- son mutables
- son conjunto de pares llave:valor
- Equivalentes a los objetos JSON de JavaScritp

#conjuntos
- representación de la teoria de conjuntos

In [26]:
# Listas
frutas = [ "Pera" , "Manzana" , "fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["Cuaderno", 2, 3.1416 , True , False , [ "Rojo", "Azul"]]
print(cosas) 
frutas[2]="Fresa" # frutas[2] = frutas[2].capitalize()
print(frutas)
# agregar a lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"Sandia")
print(frutas)

# concatenar 
fecha = ["06", "10", "2020"]
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]

In [36]:
# eliminar elementos
cosas = ["Cuaderno", 2, 3.1416 , True , False , [ "Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

#vaciar listas
#cosas.clear()
print(cosas)

print(frutas)
frutas.sort()
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['Cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [42]:
#Slicing
cosas = ["Cuaderno", 2, 3.1416 , True , False , [ "Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])
# sustituir rebanadas -2,-2 -> [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
numeros[8:13:] =[-2,-2]
print(numeros)

#preguntar por existencia
print(-2 in numeros)
print(100 in numeros)

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True
False

# Listas multi dimensión
listas dentro de listas

In [56]:
computadoras =["HP", "Mac Book Pro 17", "Mate Book", "Lenovo legion"]
oss = ["Windows 10", "Linux", "Android", "iOS"]

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])
dbms = [["Mysql", "Open Sourse", False], ["MS SOL Server", "de paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Sourse', False], ['MS SOL Server', 'de paga', True]]]
Mysql
de paga